In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/practice.csv')

In [ ]:
df

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance
0,1,Ali,22,Male,Lahore,50000.0,2021-01-15,1.0,IT,Good
1,2,Sara,NaN,Female,Karachi,60000.0,2020/03/20,3.0,HR,Excellent
2,3,Ahmed,29,Male,NaN,55000.0,15-07-2019,5.0,IT,Average
3,4,Ayesha,25,Female,Islamabad,NaN,2018-11-05,2.0,Finance,Good
4,5,Usman,35,Male,Lahore,85000.0,2017/06/30,10.0,Management,Excellent
5,6,Noor,28,Female,Karachi,58000.0,2019-02-29,4.0,HR,Good
6,7,Hassan,?,Male,Peshawar,45000.0,2022-08-10,1.0,IT,Poor
7,8,Zainab,31,Female,Lahore,72000.0,2020-13-01,7.0,Finance,Excellent
8,9,Imran,27,Male,Karachi,62000.0,2021-04-18,NaN,IT,Good
9,10,Amina,24,Female,NaN,48000.0,2023/05/12,0.0,HR,Average

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           10 non-null     int64
 1   Name         10 non-null     object
 2   Age          10 non-null     object
 3   Gender       10 non-null     object
 4   City         8 non-null      object
 5   Salary       9 non-null      float64
 6   Join_Date    10 non-null     object
 7   Experience   9 non-null      float64
 8   Department   10 non-null     object
 9   Performance  10 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 932.0+ bytes

Handling missing value in dataset

In [ ]:
#replace nan value with (mean,mode,median)
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
df['Age'].fillna(df['Age'].mean(),inplace=True)
df.head()

/tmp/ipython-input-3943410143.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance
0,1,Ali,22.000,Male,Lahore,50000.0,2021-01-15,1.0,IT,Good
1,2,Sara,27.625,Female,Karachi,60000.0,2020/03/20,3.0,HR,Excellent
2,3,Ahmed,29.000,Male,NaN,55000.0,15-07-2019,5.0,IT,Average
3,4,Ayesha,25.000,Female,Islamabad,NaN,2018-11-05,2.0,Finance,Good
4,5,Usman,35.000,Male,Lahore,85000.0,2017/06/30,10.0,Management,Excellent

In [ ]:
df

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance
0,1,Ali,22.000,Male,Lahore,50000.0,2021-01-15,1.0,IT,Good
1,2,Sara,27.625,Female,Karachi,60000.0,2020/03/20,3.0,HR,Excellent
2,3,Ahmed,29.000,Male,NaN,55000.0,15-07-2019,5.0,IT,Average
3,4,Ayesha,25.000,Female,Islamabad,NaN,2018-11-05,2.0,Finance,Good
4,5,Usman,35.000,Male,Lahore,85000.0,2017/06/30,10.0,Management,Excellent
5,6,Noor,28.000,Female,Karachi,58000.0,2019-02-29,4.0,HR,Good
6,7,Hassan,27.625,Male,Peshawar,45000.0,2022-08-10,1.0,IT,Poor
7,8,Zainab,31.000,Female,Lahore,72000.0,2020-13-01,7.0,Finance,Excellent
8,9,Imran,27.000,Male,Karachi,62000.0,2021-04-18,NaN,IT,Good
9,10,Amina,24.000,Female,NaN,48000.0,2023/05/12,0.0,HR,Average

In [ ]:
#drop row with nan values / listwise deletion
df1= df.dropna()
df1

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance
0,1,Ali,22,Male,Lahore,50000.0,2021-01-15,1.0,IT,Good
4,5,Usman,35,Male,Lahore,85000.0,2017/06/30,10.0,Management,Excellent
5,6,Noor,28,Female,Karachi,58000.0,2019-02-29,4.0,HR,Good
6,7,Hassan,?,Male,Peshawar,45000.0,2022-08-10,1.0,IT,Poor
7,8,Zainab,31,Female,Lahore,72000.0,2020-13-01,7.0,Finance,Excellent

In [ ]:
#fill missing values using k nearest neighbour
from sklearn.impute import KNNImputer
knn_imputer=KNNImputer(n_neighbors=3)
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
df['Salary']=pd.to_numeric(df['Salary'],errors='coerce')
df[['Age','Salary']]=knn_imputer.fit_transform(df[['Age','Salary']])
df

#

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance
0,1,Ali,22.0,Male,Lahore,50000.0,2021-01-15,1.0,IT,Good
1,2,Sara,28.0,Female,Karachi,60000.0,2020/03/20,3.0,HR,Excellent
2,3,Ahmed,29.0,Male,NaN,55000.0,15-07-2019,5.0,IT,Average
3,4,Ayesha,25.0,Female,Islamabad,56000.0,2018-11-05,2.0,Finance,Good
4,5,Usman,35.0,Male,Lahore,85000.0,2017/06/30,10.0,Management,Excellent
5,6,Noor,28.0,Female,Karachi,58000.0,2019-02-29,4.0,HR,Good
6,7,Hassan,25.0,Male,Peshawar,45000.0,2022-08-10,1.0,IT,Poor
7,8,Zainab,31.0,Female,Lahore,72000.0,2020-13-01,7.0,Finance,Excellent
8,9,Imran,27.0,Male,Karachi,62000.0,2021-04-18,NaN,IT,Good
9,10,Amina,24.0,Female,NaN,48000.0,2023/05/12,0.0,HR,Average

In [ ]:
df[['ageMissing','salarymissing','citymissing']]=df[['Age','Salary','City']].isnull().astype(int)
df

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance,ageMissing,salarymissing,citymissing
0,1,Ali,22,Male,Lahore,50000.0,2021-01-15,1.0,IT,Good,0,0,0
1,2,Sara,NaN,Female,Karachi,60000.0,2020/03/20,3.0,HR,Excellent,1,0,0
2,3,Ahmed,29,Male,NaN,55000.0,15-07-2019,5.0,IT,Average,0,0,1
3,4,Ayesha,25,Female,Islamabad,NaN,2018-11-05,2.0,Finance,Good,0,1,0
4,5,Usman,35,Male,Lahore,85000.0,2017/06/30,10.0,Management,Excellent,0,0,0
5,6,Noor,28,Female,Karachi,58000.0,2019-02-29,4.0,HR,Good,0,0,0
6,7,Hassan,?,Male,Peshawar,45000.0,2022-08-10,1.0,IT,Poor,0,0,0
7,8,Zainab,31,Female,Lahore,72000.0,2020-13-01,7.0,Finance,Excellent,0,0,0
8,9,Imran,27,Male,Karachi,62000.0,2021-04-18,NaN,IT,Good,0,0,0
9,10,Amina,24,Female,NaN,48000.0,2023/05/12,0.0,HR,Average,0,0,1

In [ ]:
df['missing']=df.isnull().any(axis=1).astype(int)
df

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance,missing
0,1,Ali,22,Male,Lahore,50000.0,2021-01-15,1.0,IT,Good,0
1,2,Sara,NaN,Female,Karachi,60000.0,2020/03/20,3.0,HR,Excellent,1
2,3,Ahmed,29,Male,NaN,55000.0,15-07-2019,5.0,IT,Average,1
3,4,Ayesha,25,Female,Islamabad,NaN,2018-11-05,2.0,Finance,Good,1
4,5,Usman,35,Male,Lahore,85000.0,2017/06/30,10.0,Management,Excellent,0
5,6,Noor,28,Female,Karachi,58000.0,2019-02-29,4.0,HR,Good,0
6,7,Hassan,?,Male,Peshawar,45000.0,2022-08-10,1.0,IT,Poor,0
7,8,Zainab,31,Female,Lahore,72000.0,2020-13-01,7.0,Finance,Excellent,0
8,9,Imran,27,Male,Karachi,62000.0,2021-04-18,NaN,IT,Good,1
9,10,Amina,24,Female,NaN,48000.0,2023/05/12,0.0,HR,Average,1

In [ ]:
#Label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Performance']=le.fit_transform(df['Performance'])
df
#

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance,missing
0,1,Ali,22,Male,Lahore,50000.0,2021-01-15,1.0,IT,2,0
1,2,Sara,NaN,Female,Karachi,60000.0,2020/03/20,3.0,HR,1,1
2,3,Ahmed,29,Male,NaN,55000.0,15-07-2019,5.0,IT,0,1
3,4,Ayesha,25,Female,Islamabad,NaN,2018-11-05,2.0,Finance,2,1
4,5,Usman,35,Male,Lahore,85000.0,2017/06/30,10.0,Management,1,0
5,6,Noor,28,Female,Karachi,58000.0,2019-02-29,4.0,HR,2,0
6,7,Hassan,?,Male,Peshawar,45000.0,2022-08-10,1.0,IT,3,0
7,8,Zainab,31,Female,Lahore,72000.0,2020-13-01,7.0,Finance,1,0
8,9,Imran,27,Male,Karachi,62000.0,2021-04-18,NaN,IT,2,1
9,10,Amina,24,Female,NaN,48000.0,2023/05/12,0.0,HR,0,1

In [ ]:
# onehot encoding
df=pd.get_dummies(df,columns=['City'],drop_first=True)
df

,ID,Name,Age,Gender,Salary,Join_Date,Experience,Department,Performance,City_Karachi,City_Lahore,City_Peshawar
0,1,Ali,22,Male,50000.0,2021-01-15,1.0,IT,Good,False,True,False
1,2,Sara,NaN,Female,60000.0,2020/03/20,3.0,HR,Excellent,True,False,False
2,3,Ahmed,29,Male,55000.0,15-07-2019,5.0,IT,Average,False,False,False
3,4,Ayesha,25,Female,NaN,2018-11-05,2.0,Finance,Good,False,False,False
4,5,Usman,35,Male,85000.0,2017/06/30,10.0,Management,Excellent,False,True,False
5,6,Noor,28,Female,58000.0,2019-02-29,4.0,HR,Good,True,False,False
6,7,Hassan,?,Male,45000.0,2022-08-10,1.0,IT,Poor,False,False,True
7,8,Zainab,31,Female,72000.0,2020-13-01,7.0,Finance,Excellent,False,True,False
8,9,Imran,27,Male,62000.0,2021-04-18,NaN,IT,Good,True,False,False
9,10,Amina,24,Female,48000.0,2023/05/12,0.0,HR,Average,False,False,False

In [ ]:
#ordinal encoding
df['City']=df['City'].map({'Karachi':1,'Islamabad':2,'Peshawar':3,'Lahore':4})
df

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance
0,1,Ali,22,Male,4.0,50000.0,2021-01-15,1.0,IT,Good
1,2,Sara,NaN,Female,1.0,60000.0,2020/03/20,3.0,HR,Excellent
2,3,Ahmed,29,Male,NaN,55000.0,15-07-2019,5.0,IT,Average
3,4,Ayesha,25,Female,2.0,NaN,2018-11-05,2.0,Finance,Good
4,5,Usman,35,Male,4.0,85000.0,2017/06/30,10.0,Management,Excellent
5,6,Noor,28,Female,1.0,58000.0,2019-02-29,4.0,HR,Good
6,7,Hassan,?,Male,3.0,45000.0,2022-08-10,1.0,IT,Poor
7,8,Zainab,31,Female,4.0,72000.0,2020-13-01,7.0,Finance,Excellent
8,9,Imran,27,Male,1.0,62000.0,2021-04-18,NaN,IT,Good
9,10,Amina,24,Female,NaN,48000.0,2023/05/12,0.0,HR,Average

In [ ]:
#targetencoding
target=df.groupby('Age')['Salary'].mean()
df['Age_encoding']=df['Age'].map(target)
df

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance,Age_encoding
0,1,Ali,22,Male,4.0,50000.0,2021-01-15,1.0,IT,Good,50000.0
1,2,Sara,NaN,Female,1.0,60000.0,2020/03/20,3.0,HR,Excellent,NaN
2,3,Ahmed,29,Male,NaN,55000.0,15-07-2019,5.0,IT,Average,55000.0
3,4,Ayesha,25,Female,2.0,NaN,2018-11-05,2.0,Finance,Good,NaN
4,5,Usman,35,Male,4.0,85000.0,2017/06/30,10.0,Management,Excellent,85000.0
5,6,Noor,28,Female,1.0,58000.0,2019-02-29,4.0,HR,Good,58000.0
6,7,Hassan,?,Male,3.0,45000.0,2022-08-10,1.0,IT,Poor,45000.0
7,8,Zainab,31,Female,4.0,72000.0,2020-13-01,7.0,Finance,Excellent,72000.0
8,9,Imran,27,Male,1.0,62000.0,2021-04-18,NaN,IT,Good,62000.0
9,10,Amina,24,Female,NaN,48000.0,2023/05/12,0.0,HR,Average,48000.0

In [5]:
# for scaling features
from sklearn.preprocessing import StandardScaler, RobustScaler
scaler=StandardScaler()
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
df['Salary']=pd.to_numeric(df['Salary'],errors='coerce')
df[['Age','Salary']]=scaler.fit_transform(df[['Age','Salary']])
df

,ID,Name,Age,Gender,City,Salary,Join_Date,Experience,Department,Performance
0,1,Ali,-1.453126,Male,Lahore,-0.795610,2021-01-15,1.0,IT,Good
1,2,Sara,NaN,Female,Karachi,0.046801,2020/03/20,3.0,HR,Excellent
2,3,Ahmed,0.355209,Male,NaN,-0.374404,15-07-2019,5.0,IT,Average
3,4,Ayesha,-0.678125,Female,Islamabad,NaN,2018-11-05,2.0,Finance,Good
4,5,Usman,1.905209,Male,Lahore,2.152826,2017/06/30,10.0,Management,Excellent
5,6,Noor,0.096875,Female,Karachi,-0.121681,2019-02-29,4.0,HR,Good
6,7,Hassan,NaN,Male,Peshawar,-1.216815,2022-08-10,1.0,IT,Poor
7,8,Zainab,0.871875,Female,Lahore,1.057693,2020-13-01,7.0,Finance,Excellent
8,9,Imran,-0.161458,Male,Karachi,0.215283,2021-04-18,NaN,IT,Good
9,10,Amina,-0.936459,Female,NaN,-0.964092,2023/05/12,0.0,HR,Average